---
const { post } = Astro.props;

import { CollectionEntry, getCollection } from "astro:content";
export interface Props {
    post: CollectionEntry<"supercomputing">;
}

export async function getStaticPaths() {
    const posts = await getCollection(
        "supercomputing",
        ({ data }) => !data.draft
    );
    const postResult = posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
    return [...postResult];
}

const { Content } = await post.render();
---

<div class="markdown">
    <Content />
</div>
