---
// Import your React component at the top of your Astro file
import BashSlides from "../components/react/Bash.jsx";
---

<html>
    <head>
        <link rel="stylesheet" href="bash/dist/reset.css" />
        <link rel="stylesheet" href="bash/dist/reveal.css" />
        <link rel="stylesheet" href="bash/dist/theme/blood.css" /></head
    >
    <body>
        <BashSlides />
    </body>
</html>
