---
// Import your React component at the top of your Astro file
import BashSlides from "../components/react/Bash.jsx";
---

<html>
    <head>
        <link rel="stylesheet" href="/bash_slides/dist/reset.css" />
        <link rel="stylesheet" href="/bash_slides/dist/reveal.css" />
        <link rel="stylesheet" href="/bash_slides/dist/theme/blood.css" />
        <link rel="stylesheet" href="plugin/highlight/monokai.css" />
    </head>
    <body>
        <BashSlides />
    </body>
</html>
