---
// Import your React component at the top of your Astro file
import BashSlides from "../components/react/Bash.jsx";
---

<html>
    <head> </head>
    <body>
        <BashSlides />
    </body>
</html>
