---
import Layout from "../layouts/Layout.astro";
---

<html lang="en">
    <Layout>
        <div>
            <div
                class="bg-ieee h-[35em] rounded-b-[15%] my-auto flex items-center justify-center bg-blend-overlay bg-no-repeat bg-cover align-center bg-center"
                style="background-image: url('/backgrounds/fa21qp.png');"
            >
                <div
                    class="text-[3.2em] text-white font-bold text-center w-[11em]"
                >
                    The backbone of IEEE. Come help make a difference!
                </div>
            </div>
        </div>
    </Layout>
</html>
