<div class="mt-auto">
    <div
        class="flex justify-center items-center rounded-t-[10%] bg-ieee h-32 bottom-0"
    >
        <footer class="text-center p-4 text-white font-bold">
            <p id="year">
                <span>&#169;</span>
                <span id="currentYear"></span> IEEEUCSD. All rights reserved.
            </p>
        </footer>
    </div>
</div>

<script>
    const currentYear = new Date().getFullYear();
    document.getElementById("currentYear").textContent = currentYear;
</script>
