---
import Navbar from "../components/Navbar.astro";
import "../styles/hamburgers.scss";
import "../styles/global.scss";

const { title, description, keywords, url, image } = Astro.props;
---

<html>
    <head> </head>

    <body>
        <Navbar />
        <slot />
        <footer></footer>
    </body>
</html>
