---
import Navbar from "../components/Navbar.astro";

const { title, description, keywords, url, image } = Astro.props;
---

<html>
    <head> </head>

    <body>
        <Navbar />
        <slot />
        <footer></footer>
    </body>
</html>
