---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/hamburgers.scss";
import "../styles/global.scss";
import "iconify-icon";
import "@fontsource-variable/epilogue";
const { title, description, keywords, url, image } = Astro.props;
---

<html>
    <head>
        <script
            src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"
        ></script>
    </head>

    <body class="min-h-screen">
        <Navbar />
        <slot />
        <Footer />
    </body>
</html>
