<style>
    .grid-cols-custom {
        grid-template-columns: 1fr auto 1fr;
    }
    .nav-background {
        position: relative;
        z-index: 1;
        background-image: url("/backgrounds/fa21qp.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 45%;
    }
    .nav-background::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; /* Cover the parent */
        background-color: rgba(
            0,
            51,
            102,
            0.9
        ); /* This is a guess of the ieee-blue color with 50% opacity, adjust as necessary */
        z-index: -1;
    }
</style>

<nav class="nav-background flex-inline max-w-80 mx-auto">
    <div
        class="hidden xl:grid grid-flow-col auto-cols-max justify-center items-center gap-4 h-32 grid-cols-custom text-white"
    >
        <div
            class="flex justify-center space-x-12 sm:space-x-14 md:space-x-16 lg:space-x-18"
        >
            <!-- Left content here -->
            <a href="/" class="text-2xl hover:scale-110 transition font-bold"
                >Home</a
            >
            <a href="/" class="text-2xl font-bold">About Us</a>
            <a href="/" class="text-2xl font-bold">Project Space</a>
            <!-- You can add more items here, and they will be centered -->
        </div>

        <!-- Centered image -->
        <div class="flex justify-center">
            <img
                src="/icons/logo_with_text.svg"
                alt="description of image"
                class="h-24"
            />
        </div>

        <div
            class="flex justify-center space-x-4 sm:space-x-6 md:space-x-8 lg:space-x-12"
        >
            <!-- Right content here -->
            <a href="/" class="text-2xl font-bold">Events</a>
            <a href="/" class="text-2xl font-bold">Projects</a>
            <a href="/" class="text-2xl font-bold">Contact Us</a>
            <!-- You can add more items here, and they will be centered -->
        </div>
    </div>
    <div class="grid xl:hidden items-center h-32">
        <div class="flex justify-left content-center">
            <img
                src="/icons/logo_with_full_text.svg"
                alt="description of image"
                class="h-24 scale-50"
            />
        </div>
    </div>
</nav>
